.sidebar {
    padding: 1.2em;
}

.brand {
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    padding-bottom: 0em;
}

.brand-logo {
    width: 3em;
    height: 3em;
}

.brand-title {
    display: inline-block;
    font-size: 1.15em;
    line-height: 0.9;
    font-weight: normal;
    margin-left: 0.52em;
}

.brand-title span {
    display: block;
}

.brand-title small {
    font-weight: lighter;
    font-size: 0.7em;
    color: #555;
}

.nav {
    margin-top: 3.6em;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.6em;
    border-radius: 8px;
    margin-bottom: 1em;
    cursor: pointer;
}

.nav-text, .nav-icon {
    transition: 0.1s all ease;
}

.nav-btn:hover .nav-text, .nav-btn:hover .nav-icon {
    color: #30B9BF;
    fill: #30B9BF;
}

.nav-btn.active {
    background-color: white;
    box-shadow: rgba(170, 170, 170, 0.35) 1px 2px 2px;
}

.nav-icon {
    width: 2em;
    height: 2em;
    fill: #000;
}

.nav-icon.active {
    display: none;
}

.nav-btn.active .nav-icon {
    display: none;
}

.nav-btn.active .nav-icon.active {
    display: inherit;
    fill: #30B9BF;
}

.nav-text {
    font-size: 1.15em;
    line-height: 1.0;
    margin-left: 0.5em;
    width: 4em;
}

.nav-btn.active .nav-text {
    color: #30B9BF;
}