<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/device-list.css">
</head>

<body>
  <div class="container scrollbar" id="app">
    <main class="main card-grid device-list" id="data-monitor">
      <div class="card device" v-for="device in deviceList" :class="{ switchable: device.switchable }"
        @click="onDeviceClicked(device)">
        <div class="device-image-switch">
          <img class="device-image" :src="`./images/devices/${device.model}.jpg`">
          <div class="switch" v-if="device.switchable" :class="{ 'switched-on': device.switchedOn }"
            @click.stop="onDeviceSwitchClicked(device)">
            <svg class="switch-icon" t="1585635298120" class="icon" viewBox="0 0 1024 1024" version="1.1"
              xmlns="http://www.w3.org/2000/svg" p-id="564">
              <path d="M276.2 164.2m-40.9 0a40.9 40.9 0 1 0 81.8 0 40.9 40.9 0 1 0-81.8 0Z" p-id="565">
              </path>
              <path d="M724.7 149.7m-40.9 0a40.9 40.9 0 1 0 81.8 0 40.9 40.9 0 1 0-81.8 0Z" p-id="566">
              </path>
              <path
                d="M512 567.9c-22.6 0-41-18.3-41-41V87.2c0-22.6 18.3-41 41-41 22.6 0 41 18.3 41 41v439.7c0 22.6-18.4 41-41 41z"
                p-id="567"></path>
              <path
                d="M739.8 110.3l-45.5 68.5C817.2 244 900.9 373.2 900.9 521.9c0 214.3-173.8 388.1-388.1 388.1S124.7 736.2 124.7 521.9c0-134.3 68.2-252.6 171.9-322.3l-40-71.8c-128.7 83.8-213.8 229-213.8 394.1 0 259.6 210.4 470 470 470s470-210.4 470-470c0-177.2-98.1-331.5-243-411.6z"
                p-id="568"></path>
            </svg>
          </div>
        </div>
        <div class="device-name">{{ device.name }}</div>
      </div>
    </main>
  </div>

  <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
  <script src="./js/base.js"></script>
  <script src="./js/vue.js"></script>

  <script>
    let app = new Vue({
      el: '#app',
      data: {
        deviceList: [
          { name: '吸顶灯', model: '10000', switchable: true, switchedOn: false },
          { name: '温湿度计', model: '10001', switchable: false },
          { name: '智能音箱', model: '10002', switchable: false },
          { name: '烟雾报警器', model: '10003', switchable: false },
          { name: '床头灯', model: '10004', switchable: true, switchedOn: false },
        ]
      },
      methods: {
        onDeviceClicked: device => {
          console.log(device)
        },
        onDeviceSwitchClicked: device => {
          device.switchedOn = !device.switchedOn
        }
      }
    })
  </script>
</body>

</html>